name: Release

on:
  workflow_run:
    workflows: ["Tests"]
    types: [completed]

jobs:
  release:
    if: >
      github.event.workflow_run.conclusion == 'success' &&
      github.event.workflow_run.event == 'push'
    runs-on: ubuntu-latest
    steps:
      - name: "checking vars"
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/tags/releases/}"

      - name: running some deploy release
        run: echo "running some deploy release"
